* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Blinker", sans-serif;
}
body,
html {
  width: 375px;
  height: 540px;
  /* overflow: hidden; */
}

body {
  background-color: #1f4590;
}
.parent{width:100vw}
.calculator {
  width: 375px;
  height: 540px;
  margin: auto;
  height: 65vh;
  overflow: hidden;
  background-color: #002939;
  position: relative;
  box-shadow: 1px 4px 15px rgb(46, 43, 43);
}

.section-1 {
  background-color: #e4cfa9;
  height: 40%;
  overflow: hidden;
}

.previous,
.current {
  margin-top: 2rem;
  margin-right: 1rem;
}

.previous {
  padding: 2px;
  font-size: small;
  color: grey;
}
.current {
  padding: 2px;
  font-size: large;
}
.curr-calc,
.curr-ans,
.prev-calc,
.prev-ans {
  position: absolute;
  overflow: hidden;
  right: 3%;
}
.prev-calc {
  top: 8%;
}
.prev-ans {
  top: 11%;
}
.curr-calc {
  top: 20%;
}
.curr-ans {
  padding: 2px;
  font-size: larger;
  top: 24%;
  color: brown;
}
.theme-buttons {
  margin: 0px;
  padding: 0px;
}
.themes {
  position: absolute;
  top: 0;
  left: 0;
}
.light,
.dark,
.default {
  margin: 0;
  padding: 0.25rem 0.5rem;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}
td {
  cursor: pointer;
}
.transactions {
  float: right;
}
.section-2 {
  color: rgba(255, 255, 255, 0.856);
  border-radius: 1rem 1rem 0 0;
  /* display: inline-block; */
}
.operator {
  color: green;
}
.backspace {
  color: red;
}
.all-clear {
  color: #eea620;
}
.keys {
  width: 100%;
  text-align: center;
}
.key-border {
  border-radius: 1px;
  padding: 20px;
  transition: all 0.25s ease-in-out;
}
.key-border:hover {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
}
.key-border:active {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
  box-shadow: none;
}
.key-border:focus,
.key-border:active:focus {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
  outline: 5px auto #313853;
}
.key-border:visited {
  background-color: #313853;
  border-color: #313853;
}
.clock {
  margin: 4px 11.25px;
  position: absolute;
  right: 0px;
  top: 0;
  color: beige;
  font-size: medium;
  font-family: "Orbitron", sans-serif;
}

body {
  background: #333;
}
svg {
  color: #000;
}
