* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Blinker", sans-serif;
}
@media screen and (max-width: 1200px) {
  .calculator {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .calculator {
    width: 30%;
  }
}
body {
  background-color: #1f4590;
}

.calculator {
  width: 18%;
  height: 64.5%;
  overflow: hidden;
  /* height: 65vh;
  width: 18vw; */
  border-radius: 1rem;
  background-color: #002939;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 1px 4px 15px rgb(46, 43, 43);
  /* display: inline-block; */
}

.section-1 {
  border-radius: 1rem 1rem 0 0;
  background-color: #e4cfa9;
  height: 40%;
  overflow: hidden;
}

.previous,
.current {
  margin-top: 2rem;
  margin-right: 1rem;
}

.previous {
  padding: 2px;
  font-size: small;
  color: grey;
}
.current {
  padding: 2px;
  font-size: large;
}
.curr-calc,
.curr-ans,
.prev-calc,
.prev-ans {
  position: absolute;
  overflow: hidden;
  right: 3%;
}
.prev-calc {
  top: 8%;
}
.prev-ans {
  top: 11%;
}
.curr-calc {
  top: 20%;
}
.curr-ans {
  padding: 2px;
  font-size: larger;
  top: 24%;
  color: brown;
}
.theme-buttons {
  margin: 0px;
  padding: 0px;
}
.themes {
  margin-left: 3%;
}
.light,
.dark,
.default {
  margin-top: 3%;
  padding: 32px 16px;

  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 14px;
  color: #ffffff;

  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.transactions {
  float: right;
}
.section-2 {
  color: rgba(255, 255, 255, 0.856);
  border-radius: 1rem 1rem 0 0;
  /* display: inline-block; */
}
.operator {
  color: green;
}
.backspace {
  color: red;
}
.all-clear {
  color: #eea620;
}
.keys {
  width: 100%;
  text-align: center;
}
.key-border {
  border-radius: 1px;
  padding: 20px;
  transition: all 0.25s ease-in-out;
}
.key-border:hover {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
}
.key-border:active {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
  box-shadow: none;
}
.key-border:focus,
.key-border:active:focus {
  background-color: #313853;
  border-color: #313853;
  color: #0077c5;
  outline: 5px auto #313853;
}
.key-border:visited {
  background-color: #313853;
  border-color: #313853;
}

.footer {
  font-weight: lighter;
  color: bisque;
  position: absolute;
  bottom: 45px;
  left: 41.5%;
}
